<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>HCDE310 project</title>
    <meta name="description" content="Analyze your tone and emotion from your Facebook." />
    <meta name="keywords" content="python, hcde, AlchemyLanguage, IBM Watson" />
	<link rel="stylesheet" type="text/css" href="assets/test.css">
    <!-- <link rel="icon" href="image/favicon.png" type="image/png" sizes="16x16" >-->
</head>

<!-- intro -->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      window.onload = function(){
	      google.charts.load('current', {'packages':['corechart']});
	      google.charts.setOnLoadCallback(drawChart);
	        
	      
	        function drawChart() {
 
	       	 	//var data = google.visualization.arrayToDataTable([   
	       	                                                   
	            //['Created Time','Anger','Joy', 'Fear', 'Sadness', 'Disgust']
	            var dataTable = new google.visualization.DataTable();
	            dataTable.addColumn('date', 'Created Time'); // domain
	            dataTable.addColumn('number', 'Anger');
	            dataTable.addColumn('number', 'Joy');
	            dataTable.addColumn('number', 'Fear');
	            dataTable.addColumn('number', 'Sadness');
	            dataTable.addColumn('number', 'Disgust');
	            dataTable.addColumn({type:'string', role:'annotation'})
	            dataTable.addColumn({type:'string', role:'annotationText', p: {html:true}});
	        	dataTable.addRows([
	        	// fencepost loop 
	        	{% if posts %}
	        		//do something with posts[0]
	        		[new Date({{posts[0].created_time.year}},{{posts[0].created_time.month}},{{posts[0].created_time.day}}), 
	            		parseFloat({{ (posts[0].emotions)['anger'] }}), 
	            		parseFloat({{ (posts[0].emotions)['joy'] }}), 
	            		parseFloat({{ (posts[0].emotions)['fear'] }}), 
	            		parseFloat({{ (posts[0].emotions)['sadness'] }}), 
	            		parseFloat({{ (posts[0].emotions)['disgust'] }}),
	            		'post',
	            		'{{posts[0].message.replace("\n"," ").replace("\'","").replace("\"","") |safe}}'
	            		]
	        	{% endif %}
	        	{% if postlen %}
	            	{% for post in posts[1:] %}
	      				,[new Date({{post.created_time.year}},{{post.created_time.month}},{{post.created_time.day}}), 
	            		parseFloat({{ (post.emotions)['anger'] }}), 
	            		parseFloat({{ (post.emotions)['joy'] }}), 
	            		parseFloat({{ (post.emotions)['fear'] }}), 
	            		parseFloat({{ (post.emotions)['sadness'] }}), 
	            		parseFloat({{ (post.emotions)['disgust'] }}),
	            		'post',
	            		'{{post.message.replace("\n"," ").replace("\'","").replace("\"","") |safe}}'
	            		]
	        		{% endfor %}
	            {% endif %}
	          	]);
	      
		        var options = {
		          //title: 'Emotional Analyses',
		          curveType: 'function',
		          legend: { position: 'bottom' },
		          backgroundColor: 'transparent',
		          colors: ['red', 'green', 'purple', 'orange', 'blue'],
		          pointsVisible: true,
		          vAxis: {
		        	  title: 'Emotion Values',
		        	  //viewWindow: {min: 0, max: 1} 
		        	  //baseline: 0
		        	  ticks: [0.2, 0.4, 0.6, 0.8, 1]
		          },
		          tooltip: {isHTML:true}
		        };
		        
		
		        var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
		
		        chart.draw(dataTable, options);
	        };
      }
    </script>
  
<body> 
	<div id="page-wrap">
	{% if current_user %} 
		<h1 id="title" style="margin-top: 50px">Alchemy x Facebook</h1>
    	<p><a href="{{ current_user.profile_url }}"><img width="120" height="120" src="http://graph.facebook.com/{{ current_user.uid }}/picture"/></a></p>
    	<h3>You are logged in as {{ current_user.name|escape }}!</h3>
    	<a href="/auth/logout"><img width="200" margin="0" src="assets/image/logout.png"></a>
    	<br></br>
    	<br></br>
    	
    	<h2>Your Emotional Averages:</h2>
    	{% for emo in avgs %} 
	      {{emo}}: {{avgs[emo]}}</br>
	    {% endfor %}
	    <br></br>
	    <br></br>
	    
	    <h2>Your Emotional History:</h2>
    	<div id="curve_chart" style="width: 900px; height: 500px"></div>
    	<br></br>
    	<br></br>
    	
    	<h2>Posts:</h2>
    	<div id="posts">
    		{% for post in posts %}
      		<h3>{{post.created_time}}:</h3>
      		<p>{{post.message}}</p>
      		<h3>AlchemyLanguage Analyses:</h3>
      		{% for emo in post.emotions %}
      			{{emo}}: {{post.emotions[emo]}}</br>
      		{% endfor %}
      		<br></br>
      		{% endfor %}
       </div>
    {% else %}  
		<!-- intro -->
		<h1 id="title" style="margin-top: 130px">Alchemy x Facebook</h1>
    	<div id="intro">
        	<br>
        	<p><b>Learn about your emotional history on Facebook!</br>
        	Analyse your FB posts for emotional values using IBM's AlchemyLanguage API.</b></p>
    	</div>
		<!--intro -->
		</br>
		</br>
		</br>
		<a href="/auth/login"><img width="200" margin="0" src="assets/image/facebook_login.png"></a>
    {% endif %}
    </div>
</body>
</br>
</br>
<footer>
    Cho(i) &copy 2016
</footer> 
</html>