body {
	background-image: url("image/front.jpg");
	line-height: 1.8em;
    letter-spacing: 0.5px;
    text-align: center;
    color: #333;
    font-family: 'Montserrat', Source Sans Pro, arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
	background-size: cover;
	background-position: top center !important;
	background-repeat: no-repeat !important;
	background-attachment: fixed;
	
    
    
}
/*position: absolute;top: 50%; left: 50%;transform: translateX(-50%) translateY(-50%);*/

#page-wrap {
	width: 800px;
	margin: 0 auto;
}

#posts {
	text-align: left;
}

#intro p{
	padding-left: 5%;
    padding-right: 5%;
    font-size: 12.5px;
    font-weight: 200;
}

/*footer*/
footer {
    line-height: 1.3em;
    font-size: 11px;
    /*position: absolute;*/
   	bottom: 10px;
   	text-align: center;
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

h1 {
    margin-bottom: 50px;
 
}

.menu_bar_secondary {
    /*padding: 0.2% 0!important;*/
    text-transform: uppercase;
    letter-spacing: 4px;
    font-size: 12px;
}

.menu_bar_secondary a {
  padding: 20px 24px;
}

.menu_bar {
    /*position: fixed;*/
    width: 100%;
    z-index: 1500;
    position: absolute; 
    top:0; 
    right:0;

}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

a {
    color: inherit;
    /*text-decoration: none;*/
}